
/**{*/
    /*-webkit-transition: all 1s ease-in-out;*/
    /*-moz-transition: all 1s ease-in-out;*/
    /*-o-transition: all 1s ease-in-out;*/
    /*transition: all 1s ease-in-out;*/
/*}*/

.container{
    margin: 400px;
}

#title.animate{
    transition:all 0.4s;

    background-color: rgba(10,10,10,0.3);
    color: rgba(240,240,240,0.9);
}

#circle.animate{
    transition:all 0.45s;

    background-color: rgba(10,10,10,0.3);
    color: rgba(240,240,240,0.9);
    border-radius: 0px;
}

#circle{
    border-radius: 80px;
    width: 150px;
    height: 150px;
    background-color: rgba(140,2,2,1);
    transform: perspective( 600px ) rotateY( 45deg );
}

#title{
    text-transform:uppercase;
    cursor: pointer;
    font-size: 32px;
    font-weight: 500;

    padding: 20px;
    position: absolute;
    width: 250px;
    height: 250px;

    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translate3d(235px, 100px, 0px) scale(1, 1) rotate(0deg);

    background-color: rgba(10,10,10,0.6);
    color: rgba(240,240,240,0.9);
}