<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

  <title>Draggable Organized Collections</title>
  <link rel="stylesheet" href="css/external/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="gestureApp" ng-controller="gestureController" ng-init="initialize()">
  <div class="element-container" style="padding-left:300px; padding-top:25px;">
    <div id="myElement" style="color:background-color:black; color:rgba(10,100,100,0.9); height:100px; width:100px;">Non Angular Element</div>
  </div>
  <h2 class="media-element">Swipe up to un-favourite</h2>
  <ul class="items">
    <li class="title animate"
      ng-class="item.elementState || { 'item-selected' : true}"
      ng-repeat="item in collectionInformation.list"
      movable
      style="margin-left: {{$index * 19}}%;">
        {{item.name}}
        <img ng-src="{{item.url}}">
      </li>
  </ul>
  <h2 class="media-element active" style="margin-top: 100px;">Swipe down to favorite</h2>

  <div class="add-element">
    <h3>Add Element</h3>
      <label>Name</label><input ng-model="collectionInformation.item.name"></span>
      <label>Image Url</label><input ng-model="collectionInformation.item.url"></span>
      <button ng-click="addItem(collectionInformation.item)" ng-disabled="!collectionInformation.item">Add</button>
  </div>

<script src="js/external/angular.js"></script>
<script src="js/external/hammer.js"></script>
<script src="js/external/lodash.js"></script>
<script src="js/gesture-app.js"></script>
<script src="js/gesture-controller.js"></script>
<script src="js/movable-directive.js"></script>
<script src="js/my-hammer-element.js"></script>
</body>
</html>
